@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs{
    text-align: center;
} 
.featchersItem{
    padding: 100px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.774),rgba(0, 0, 0, 0.774)),url(../src/assets/home/featured.jpg);
    background-repeat: no-repeat;
    background-position: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.react-tabs__tab-list{
    border-bottom: 1px!important;
}
.react-tabs__tab--selected {
    margin: 20px 0px;
    border-color: #aaa;
    color: #BB8506!important;
    border: 3px solid BB8506!important;
    border-radius: 0px !important;
}
.react-tabs__tab {
    border: 1px solid gray!important;
}
.react-tabs__tab {
    display: inline-block;
    border: 0px !important;
    border-bottom: none;
    bottom: 0px!important;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}